[rhel-7-server-ose-3.10-rpms]
name=OSE 3.10
baseurl=http://192.168.1.94/repos/rhel-7-server-ose-3.10-rpms
gpgcheck=0
enabled=1

[rhel-7-server-rpms]
name=RHEL 7 Server RPMs
baseurl=http://192.168.1.94/repos/rhel-7-server-rpms
gpgcheck=0
enabled=1

[rhel-7-server-extras-rpms]
name=RHEL 7 Server RPMs
baseurl=http://192.168.1.94/repos/rhel-7-server-extras-rpms
gpgcheck=0
enabled=1
